.app-header {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.system-name {
  font-family: "SUITE-600", sans-serif;
  font-size: 24px;
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 20px;
  font-family: "SUITE-400", sans-serif;
}

.add-project-button {
  font-family: "SUITE-700", sans-serif;
  background-color: #3db7cc; /* 버튼 배경색 설정 */
  color: #fff; /* 버튼 텍스트 색상 설정 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 버튼에 그림자 추가 */
}

@media (max-width: 568px) {
  .system-name {
    display: none; /* 화면 크기가 768px 이하일 때 시스템 이름 숨기기 */
  }

  .search-input {
    margin-right: 10px; /* 검색창과 버튼 간의 간격 축소 */
  }
}
