/* MainContent.css */

.main-content {
  padding: 80px 20px 20px 20px; /* 헤더와의 거리를 둡니다 */
  display: flex;
  justify-content: center; /* 컨테이너의 내용물을 중앙에 배치 */
}

.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* 카드 간의 간격을 설정 */
  justify-content: center; /* 카드들을 중앙 정렬 */
}

.ant-tabs-tab {
  font-family: "SUITE-900", sans-serif; /* 탭 글자 폰트 */
  font-size: 16px; /* 탭 글자 크기 */
  color: #333; /* 탭 글자 색상 */
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #3db7cc; /* 활성 탭 글자 색상 */
}

.ant-tabs-ink-bar {
  background-color: #3db7cc; /* 활성 탭 아래 표시선 색상 */
}

.ant-tabs-tab:hover {
  color: #3db7cc; /* 탭 글자 호버 색상 */
}

.ant-tabs-nav {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 4px;
}
