.project-card {
  width: 400px; /* 카드의 너비를 고정합니다 */
  margin: 20px 10px; /* 카드와 헤더 사이에 거리를 둡니다 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  font-family: "SUITE-400", sans-serif;
}

.card-header {
  padding: 0px 16px 0px;
  color: black;
  text-align: center;
  font-family: "SUITE-600", sans-serif;
  border-radius: 10px;
}

.card-body {
  padding: 16px 0px;
}

.project-info {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.label {
  font-family: "SUITE-700", sans-serif;
  display: inline-block;
  min-width: 80px;
  text-align: left;
  margin-right: 8px;
}

.button-like {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2px 5px;
  text-align: center;
  flex: none; /* 크기를 고정 */
  align-self: flex-start; /* 버튼을 위로 정렬 */
}

.requirement-list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
}

.requirement-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px 0px;
  border-top: 1px solid #f0f0f0;
}

.card-footer .ant-btn {
  flex: 1;
  margin: 0 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
